.CardGroup {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.Card {
  min-width: 280px;
  min-height: 300px;
  overflow: hidden;
}

.Description {
  max-height: 140px;
  overflow: hidden;
}
.Content {
  max-height: 300px;
  min-height: 200px;
}
