.header-container {
  display: flex;
  justify-content: center;
}

.header-image {
  max-width: 80%;
  min-width: 200px;
}

/* .app {
  margin: 0rem;
  background-color: rgb(8, 8, 8);
}*/

.pagination {
  display: flex;
  justify-content: center;
  padding: 0rem;
}

.ui-loader {
  min-height: 400px;
}

span {
  font-size: 2rem;
  color: rgb(15, 7, 237);
  vertical-align: -10%;
}
